services:
  # --- 1. STOCKAGE (Data Lake) ---
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000" # API S3
      - "9001:9001" # Console Web
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - ./minio_data:/data
    networks:
      - gdelt-net
    deploy:
      resources:
        limits:
          memory: 512M # <--- Suffisant pour un usage local
  # --- 2. INGESTION (ETL 1) ---
  nifi:
    image: ziaadzi/nifi_gdelt:v3
    container_name: nifi
    ports:
      - "8443:8443"   
    environment:
      - NIFI_WEB_HTTP_PORT=
      - NIFI_WEB_HTTPS_PORT=8443
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=admin12345678
      - NIFI_JVM_HEAP_INIT=512m # Démarre petit
      - NIFI_JVM_HEAP_MAX=1024m # Max 1 Go (Suffisant pour GDELT)
    depends_on:
      - minio
    networks:
      - gdelt-net
    deploy:
      resources:
        limits:
          memory: 1536M # On laisse une marge de 500Mo au-dessus du Heap Java pour l'OS
  # --- 3. TRAITEMENT (Spark Cluster) ---
  spark:
    image: ziaadzi/spark_gdelt:v2
    container_name: spark
    user: root # Important pour éviter les soucis de permission dans le conteneur unique
    environment:
      # On ne lance pas de daemon Master/Worker spécifique, juste un conteneur prêt à bosser
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_DRIVER_MEMORY=1G
      - SPARK_DAEMON_MEMORY=512m
    ports:
      - "8080:8080" # UI Spark (pour voir tes jobs)
      - "4040:4040" # UI du Job en cours
    command: /bin/bash /app/scripts/start_pipelines.sh
    networks:
      - gdelt-net
    deploy:
      resources:
        limits:
          memory: 2G # 1G Driver + Overhead Java + OS
  # --- 4. WAREHOUSE (Base de données) ---
  clickhouse:
    image: clickhouse/clickhouse-server
    container_name: clickhouse
    ports:
      - "8123:8123" # HTTP Port
    volumes:
      - ./clickhouse_data:/var/lib/clickhouse
    environment:
      - CLICKHOUSE_DB=default
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=1234  # <--- ON FORCE LE MOT DE PASSE ICI
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - gdelt-net
    deploy:
      resources:
        limits:
          memory: 3G # Suffisant pour tes requêtes GDELT actuelles
  # --- 5. VISUALISATION ---
  grafana:
    image: ziaadzi/grafana_gdelt:v2
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=grafana-clickhouse-datasource  
    depends_on:
      - clickhouse
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - gdelt-net
    # OPTIMISATION : Grafana est très léger
    deploy:
      resources:
        limits:
          memory: 512M
networks:
  gdelt-net:
    driver: bridge
